{% extends "app/layout.html" %}

{% block content %}

<p> <h2>Dataset documentation</h2>
<ul> 
<li> <h3>SnowModel</h3> is a spatially distributed snow-evolution modeling system designed fora pplication in landscapes, climates, and conditions where snow occurs 
    <a href="http://journals.ametsoc.org/doi/abs/10.1175/JHM548.1">(Liston and Elder, 2006).</a> Data presented here are deried from Beamer, Hill, Liston and others
    (in prep.) <i>High-resolution modeling of coastal freshwater discharge and glacier mass balance in the Gulf of Alaska watershed.</i> Input data are from NARR with 
    bias correction to PRISM data. </li>
</ul>
</p>

<p> <h2>API flowchart</h2>
    <img src="../../static/app/images/API_flowchart.jpg"  height="400" width="600" />



{% endblock %}
